



/* =================== LAYOUT =================== */

body {
      min-height: 100%;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }
    
.container-fluid.jogos {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 40px;
}

.container-fluid.estatisticas {
      padding-bottom: 50px;
      padding-top: 20px;
}

#logo {
      height: 50px;
      margin-left: 10px; 
}

.divisor {
      width: 1px;
      background: white;
      margin: 14px 10px;
}

.navbar-brand {
      padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
      color: rgba(255,255,255,5);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
      color: rgb(254, 233, 6);
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
      color: #fffb00;
  }

#navbarSupportedContent {
      font-size: 1.1rem;
}

.navbar.custom {
      height: 80px;  
      margin: 0 auto;
      background-image: linear-gradient(#008dab, #008dab, #007294);  
}

.container.corpo {
      padding-top: 20px;
      padding-bottom: 40px;
}

.titulo-pagina {
      border-bottom: 3px solid #ff9d3e;
      margin-bottom: 30px;
      margin-top: 30px;
}

.botoes {
      padding-top: 10px;
}



fieldset {
      padding: 3px;
}

.close.branco {
      color: white;  
}

.grupos {
      display: block;
      min-width: -webkit-min-content;
      border-width: 2px;
      border-style: ridge;
      border-color: ghostwhite;
      border-image: initial;
      padding: 10px;
      margin: 0 0 10px 0;
  }

.legenda-grupo {
      width: 115px;
      padding-left: 2%;
      padding-right: 2%;
      font-size: 1.1rem;
}

.penalti {
      color: red;
      font-size: 0.7rem;
      padding: 0 5px;
}

footer {
      position: fixed;
      bottom: 0;
      width: 100%;
}

.containerRadio {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containerRadio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
      position: absolute;
      top: 4px;
      left: 0;
      height: 19px;
      width: 19px;
      background-color: #eee;
      border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerRadio:hover input ~ .checkmark {
      background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerRadio input:checked ~ .checkmark {
      background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerRadio input:checked ~ .checkmark:after {
      display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerRadio .checkmark:after {
         top: 7px;
        left: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
  }




/* =================== ESTATÍSTICAS =================== */

.titulo-estatisticas {
      font-size: 1.6em;
      margin-bottom: 1em;
      color: #007897;
      font-weight: normal;
}

.tabela-estatisticas {
      border-top: none;
}

.container.corpo {
      padding-bottom: 40px;
}  


  .table-borderless td,
.table-borderless th {
    border: 0;
}

  td {
      width: auto;
  }
  
  td.min {
      width: 1%;
      white-space: nowrap;
  }

/* =================== LAYOUT =================== */



@media (max-width: 990px){
      .navbar-header {
            padding-bottom: 10px;        
      }
      #navbarSupportedContent {
            background-image: linear-gradient( rgb(0, 115, 149), rgb(0, 141, 171), rgb(0, 141, 171));        
      }

      .navbar-dark .navbar-nav .nav-link {
            color: rgb(255, 255, 255);
            padding-left: 10px;    
      }
}

@media (max-width: 530px){
      .legenda-grupo {
            width: 34%;
            padding-left: 2%;
      }
}


@media (max-width: 400px){
      .legenda-grupo {
            width: 45%;
            padding-left: 2%;
      }
}

@media (max-width: 330px){
      .legenda-grupo {
            width: 52%;
            padding-left: 2%;
      }
}

@media only screen and (max-width: 380px) {
      #logo {
            height: 31px;
            margin-left: 10px;        
      }


}