.distintivo {
    vertical-align: middle;
    width: 45px;
}



.aviso-palpite {
    color: #ffffff;
    font-size: 22px;
    background: #dd4b39 url() no-repeat center;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin: 0px 0px 10px 0px;
    padding: 2px 0;
    text-align: center;
    max-width: 880px;
}

.aviso-ranking {
    font-size: 1.6em;
    padding: 10px 0 0 10px;
}

.texto-palpite {
    text-align: center;
    font-size: 1.0em;
}

.inicio {
    text-align: left;
    font-size: 1.1em;
}

.select-jogo{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px px 0px;
    max-width: 880px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.select-ranking {
    width: 190px;
    font-size: 1.0em;
    margin: 0 0 50px 0;
}

.select-participante {
    width: 245px;
    height: 37px;
    font-size: 1.2em;
}

.info-jogo{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px px 0px;
    font-size: 1.2em;
    max-width: 880px;
    border-radius: 3px;
    background: #ffffff;
    border-top: 0.8px solid #dfe4ec;
    padding-top: 10px;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.btn-palpite{
    margin: 40px 0px 20px 0px;
    max-width: 880px;
}

.btn-danger {
    font-size: 1.6em;
}

.jogo > .jogo-item:nth-child(1){
    width:150px;
    text-align: center;
    display: none;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(3){
    width:45px;
    text-align: left;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(4){
    width:50px;
    padding: 0;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(5){
    width:75px;
    padding: 0 12px;
    color: red;

}

.jogo > .jogo-item:nth-child(6){
    width:50px;
    padding: 0;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(7){
    width:50px;
    padding: 0;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(8){
    width:150px;
    text-align: center;
    display: none;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(9){
    width:150px;
    text-align: center;
    --background-color: red;
}

.jogo > .jogo-item:nth-child(10){
  width:40px;
  color: red;
  --background-color: red;
}

@media(max-width: 999px){

.info-jogo{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px px 0px;
    font-size: 1.2em;
    max-width: 880px;
    border-radius: 3px;
    background: #ffffff;
    border-top: 0.8px solid #dfe4ec;
    padding-top: 10px;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    max-width: 880px;
}

.btn-palpite{
    margin: 40px 0px 20px 0px;
    max-width: 880px;
}

.btn-danger {
    font-size: 1.6em;
}

.jogo > .jogo-item:nth-child(1){
    width:50px;
    text-align: center;
    display: initial;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(3){
    width:45px;
    text-align: left;
}

.jogo > .jogo-item:nth-child(4){
    width:50px;
    padding: 0;
    min-width: 50px;
}

.jogo > .jogo-item:nth-child(5){
    width:75px;
    padding: 0 12px;
}

.jogo > .jogo-item:nth-child(6){
    width:50px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(7){
    width:50px;
    padding: 0;
    min-width: 50px;
}

.jogo > .jogo-item:nth-child(8){
    width:50px;
    text-align: center;
    display: initial;
}

.jogo > .jogo-item:nth-child(9){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(10){
  width:40px;
  color: red;
}

}

@media(max-width: 420px){

    .content {
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1.1em;
        text-align: -moz-center;
        text-align: -webkit-center;
}

.select-ranking {
    width: 190px;
    margin: 0 0 50px 0;
    font-size: 1.0em;
}

.aviso-palpite {
    color: #ffffff;
    font-size: 1.1em;
    background: #dd4b39 url() no-repeat center;
    margin: -7px 0px 6px 0px;
    padding: 2px 0;
    text-align: center;
}

.info-jogo{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px px 0px;
    font-size: 1.2em;
    max-width: 880px;
    border-radius: 3px;
    background: #ffffff;
    border-top: 0.8px solid #dfe4ec;
    padding-top: 10px;
    padding-bottom: 5px;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 1.0em;
    max-width: 880px;
}

.btn-palpite{
    margin: 40px 0px 20px 0px;
    max-width: 880px;
}

.btn-danger {
    font-size: 1.6em;
}

.distintivo {
    vertical-align: middle;
    width: 35px;
}

.jogo > .jogo-item:nth-child(1){
    width:30px;
    text-align: center;
    padding-right: 35px;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(3){
    width:45px;
    text-align: left;
    padding-right: 50px;
}

.jogo > .jogo-item:nth-child(4){
    width:45px;
    padding: 0;
    min-width: 45px;
}

.jogo > .jogo-item:nth-child(5){
    width:60px;
    padding: 0 12px;
}

.jogo > .jogo-item:nth-child(6){
    width:45px;
    padding: 0;
    min-width: 45px;
}

.jogo > .jogo-item:nth-child(7){
    width:50px;
    padding: 10;
    padding-left: 10px;
}

.jogo > .jogo-item:nth-child(8){
    width:35px;
    text-align: center;
}

.jogo > .jogo-item:nth-child(9){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(10){
  width:40px;
  color: red;
}

}


@media(max-width: 375px) {

.content {
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1.1em;
        text-align: -moz-center;
        text-align: -webkit-center;
}

.distintivo {
    vertical-align: middle;
    width: 30px;
}

.jogo > .jogo-item:nth-child(1){
    width:30px;
    text-align: center;
    padding-right: 35px;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(3){
    width: 30px;
    text-align: left;
    padding-right: 37px;
}

.jogo > .jogo-item:nth-child(4){
    width:45px;
    padding: 0;
    min-width: 45px;
}

.jogo > .jogo-item:nth-child(5){
    width:54px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(6){
    width:45px;
    padding: 0;
    min-width: 45px;
}

.jogo > .jogo-item:nth-child(7){
    width: 50px;
    padding-left: 0px;
}

.jogo > .jogo-item:nth-child(8){
    width:30px;
    text-align: center;
}

.jogo > .jogo-item:nth-child(9){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(10){
  width:20px;
  color: red;
}

}


@media(max-width: 320px) {

.content {
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1.1em;
        text-align: -moz-center;
        text-align: -webkit-center;
}

.info-jogo{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px px 0px;
    font-size: 1.2em;
    max-width: 880px;
    border-radius: 3px;
    background: #ffffff;
    border-top: 0.8px solid #dfe4ec;
    padding-top: 10px;
    padding-bottom: 5px;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 1.0em;
    max-width: 880px;
}

.btn-palpite{
    margin: 40px 0px 20px 0px;
    max-width: 880px;
}

.btn-danger {
    font-size: 1.6em;
}

.jogo > .jogo-item:nth-child(1){
    width:50px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(3){
    width:45px;
}

.jogo > .jogo-item:nth-child(4){
    width:45px;
    padding: 0;
    min-width: 45px;
}

.jogo > .jogo-item:nth-child(5){
    width:50px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(6){
    width:45px;
    padding: 0;
    min-width: 45px;
}

.jogo > .jogo-item:nth-child(7){
    width:50px;
    padding-left: 7px;
}

.jogo > .jogo-item:nth-child(8){
    width:50px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(9){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(10){
  width:40px;
  color: red;
}

}


@media(max-width: 319px) {

    .texto-palpite {
        text-align: center;
        font-size: 0.9em;
        height: 24px;
        width: 30px;
        padding: 0;
    }

    .content {
        min-height: 250px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 1.1em;
        text-align: -moz-center;
        text-align: -webkit-center;
    }
}




