.rodada {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    font-family: sans-serif;
    font-weight: bold;
    margin: 15px 0;
}

.select-participante {
    width: 280px;    
    height: 37px;
}

.input-group .form-control {
    font-size: 1.0em;
    padding: 0 10px;
    width: initial;
}

.select-jogo{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px px 0px;
    max-width: 880px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.distintivo {
    vertical-align: middle;
    width: 45px;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.jogo > .jogo-item:nth-child(1){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
}

.jogo > .jogo-item:nth-child(3){
    width:45px;
    text-align: left;
}

.jogo > .jogo-item:nth-child(4){
    width:100px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(5){
    width:50px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(6){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(7){
    width:150px;
    text-align: center;
}

.jogo > .jogo-item:nth-child(8){
  width:40px;
  color: red;
}

@media(max-width: 999px){

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none; 
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    max-width: 880px;
}

.jogo > .jogo-item:nth-child(1){
    width:50px;
    text-align: center;
    display: initial;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(3){
    width:45px;
    text-align: left;
}

.jogo > .jogo-item:nth-child(4){
    width:80px;
    padding: 0 12px;
}

.jogo > .jogo-item:nth-child(5){
    width:50px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(6){
    width:50px;
    text-align: center;
    display: initial;
}

.jogo > .jogo-item:nth-child(7){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(8){
  width:40px;
  color: red;
}

}

@media(max-width: 420px){
.input-group .form-control {
    font-size: 0.9em;
    padding: 0 10px;
    width: initial;
}

.distintivo {
    vertical-align: middle;
    width: 40px;
}

.box-body {
    font-size: 1.0em;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 1.0em;
    max-width: 880px;
}

/* GRE */
.jogo > .jogo-item:nth-child(1){
    width:46px;
    text-align: center;
    --display: none;
}

/* GREMIO */
.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

/* DISTINTIVO */
.jogo > .jogo-item:nth-child(3){
    width:45px;
    text-align: left;
    padding-right: 0px;
}

/* PLACAR */
.jogo > .jogo-item:nth-child(4){
    width:95px;
    padding: 0 12px;
}

/* DISTINTIVO */
.jogo > .jogo-item:nth-child(5){
    width:50px;
    padding: 10;
    padding-left: 0px;
}
 /* GRE */
.jogo > .jogo-item:nth-child(6){
    width:45px;
    text-align: center;
}

/* GREMIO */
.jogo > .jogo-item:nth-child(7){
    width:150px;
    text-align: center;
    display: none;
}

/* PONTOS */
.jogo > .jogo-item:nth-child(19){
  width:40px;
  color: red;
}

}

@media(max-width: 360px) {
.input-group .form-control {
    font-size: 0.9em;
    padding: 0 10px;
    width: initial;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 1.0em;
    max-width: 880px;
}

/* GRE*/
.jogo > .jogo-item:nth-child(1){
    width:50px;
    text-align: center;
}
 
/*GREMIO*/
.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

/* DISTINTIVO*/
.jogo > .jogo-item:nth-child(3){
    width:45px;
}

.jogo > .jogo-item:nth-child(4){
    width:60px;
    padding: 0;
}

/* DISTINTIVO*/
.jogo > .jogo-item:nth-child(5){
    width:50px;
    padding-left: 7px;
}

/* GRE */
.jogo > .jogo-item:nth-child(6){
    width:50px;
    text-align: center;
}

/* GREMIO */
.jogo > .jogo-item:nth-child(7){
    width:150px;
    text-align: center;
    display: none;
}

/* PONTOS */
.jogo > .jogo-item:nth-child(8){
  width:40px;
  color: red;
}

}


@media(max-width: 325px) {
.input-group .form-control {
    font-size: 0.9em;
    padding: 0 10px;
    width: initial;
}

.jogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:100%;
    height:55px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    align-items: center;
    font-size: 1.0em;
    max-width: 880px;
}

.jogo > .jogo-item:nth-child(1){
    width:42px;
    text-align: center;
}

.jogo > .jogo-item:nth-child(2){
    width:150px;
    text-align: center;
    display: none;
}

.jogo > .jogo-item:nth-child(3){
    width:37px;
}

.jogo > .jogo-item:nth-child(4){
    width:66px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(5){
    width:37px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(6){
    width:35px;
    padding: 0;
}

.jogo > .jogo-item:nth-child(7){
    width:50px;
    padding-left: 7px;
}

.jogo > .jogo-item:nth-child(8){
    width:35px;
    text-align: center;
}



}




